*.egg
*.egg-info
*.o
*.so
*.os
*.pyc
*_wrap.cc
*Lib.py
*~
build/
core.*
.sconf_temp
.sconsign.dblite
config.log
dist/
doc/doxygen.conf
doc/html
doc/xml
doc/*.tag
python/lsst/__init__.pyc
lacquer/parsers/parser.out
.idea
